<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta jquery='true'}}
</head>

<body id="top" class="page">
	{{>header-modal}}

	{{>pageContent breadcrumbCurrent='檢視資料' userOn='true' user='陳大天' linkLogout='index.html' content='detail' pageTitle='檢視資料' linkBackOn='true' linkBack='#' backWhere='回上頁'}}

	{{>footer}}
</body>

</html>