<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta}}
</head>

<body id="top" class="page">
	{{>header-nomenu}}

	{{>pageContent containerXlarge='true' breadcrumbCurrent='推薦列表' userOn='true' user='陳大天' linkLogout='index.html' content='person' pageTitle='推薦列表' select='true' pageSum='2'}}

	{{>footer}}
</body>

</html>