<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta jquery='true'}}
</head>

<body id="top" class="page">
	{{>header-modal}}

	{{>pageContent breadcrumbCurrent='搜尋結果' userOn='true' user='陳大天' linkLogout='index.html' content='recomsearch' pageTitle='搜尋結果' h2button='true' h2buttonName='資料查詢' select='true' pageSum='2'}}

	{{>footer}}
</body>

</html>