<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta jquery='true'}}
</head>

<body id="top" class="page">
	{{>header-modal 02active='true'}}

	{{>pageContent containerXlarge='true' breadcrumbCurrent='館藏查詢' userOn='true' user='陳大天' linkLogout='index.html' content='journals' pageTitle='館藏查詢' navMenuTitleOn='true' navMenuTitle='查詢再細分' select='true' pageSum='2'}}

	{{>footer}}
</body>

</html>