<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta jquery='true'}}
</head>

<body id="top" class="page">
	{{>header-modal}}

	{{>pageContent containerXlarge='true' breadcrumbCurrent='查詢列表' userOn='true' user='陳大天' linkLogout='index.html' content='recommend' pageTitle='查詢列表' select='true' pageSum='2'}}

	{{>footer}}
</body>

</html>